<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Setter injection using "value" attribute -->
	<bean id="personBean" class="com.spring.examples.Person">
		<property name="firstName" value="Neeraj"></property>
		<property name="lastName" value="Girolkar"></property>
		<property name="age" value="28"></property>
		<property name="card" ref="creditCardBean"></property>
	</bean>

	<!-- Setter injection using "value" tag -->
	<bean id="creditCardBean" class="com.spring.examples.CreditCard">
		<property name="cardNo">
			<value>1234 5678 8765 4321</value>
		</property>
		<property name="bankName">
			<value>HDFC Bank</value>
		</property>
		<property name="cvv">
			<value>707</value>
		</property>
	</bean>

</beans>