<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- c-namespace with index -->
	<bean id="personBean" class="com.spring.examples.Person"
		c:_0 = "Neeraj"
		c:_1 = "Girolkar"
		c:_2 = "28"
		c:_3-ref = "creditCardBean"/>
	
	<!-- c-namespace with name -->
	<bean id="creditCardBean" class="com.spring.examples.CreditCard"
		c:cardNo = "1234 5678 8765 4321"
		c:bankName = "HDFC Bank"
		c:cvv = "707"/>

</beans>